/*========================GLOBAL=============================*/
html {
    font-family: Montserrat;
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.burger {
    display: none;
}

.footer-company_name {
    display: none;
}

/*========================PREHEADER=============================*/
.preheader {
    background: #EBF0F4;
    width: 100%;
    padding: 20px 0px;
}

.preheader-content {
    display: flex;
    gap: 944px;
    align-items: center;
    width: 100%;
}

.preheader-item {
    display: flex;
    flex: 1;
    align-items: center;
    color: #5a6b83;
    font-size: 13px;

    transition: 0.2s;
    white-space: nowrap;
}

.preheader-item:hover {
    opacity: 0.7;
}

.preheader-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

/*========================MAIN HEADER=============================*/
.header-main {
    background-color: #ffffff;
    padding: 30px 0;
}

.header-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 250px;
    height: 60px;
    display: block;
    margin-right: 150px;
}

.main-nav ul {
    display: flex;
}


.main-nav ul li a {
    display: flex;
    white-space: nowrap;
    color: #384054;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    margin-right: 30px;
    transition: color 0.3s;
}

.main-nav ul li a:hover {
    color: #7a869a;
}


.header-actions {
    display: flex;
    margin-left: 120px;
}

.action-btn {
    display: flex;
}

.action-btn:first-child {
    margin-right: 10px;
}

.action-btn img {
    width: 48px;
    height: 48px;
    transition: 0.3s;
    border-radius: 50%;
}

.action-btn img:hover {
    box-shadow: 0 0 0 2px #7a869a;
}

/*------HEADER HERO-SLIDER------*/

.hero-slider {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    color: #fff;

    display: flex;
    align-items: center;

    justify-content: flex-start;
    padding-left: 310px;
    box-sizing: border-box;

}

.backgrounds-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.bg-slide.active {
    opacity: 1;
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: left;
    max-width: 860px;
    width: 100%;
    padding: 0 20px;
}

.title {
    font-style: Medium;
    font-size: 60px;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.subtitle {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 40px;
}

/*---btn---*/
.cta-button {
    display: inline-block;
    background-color: #E3EFFA;
    color: #384054;
    padding: 20px 25px 20px 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    border-radius: 6px;
    transition: background 0.3s;
}

.cta-button:hover {
    background-color: #e6e6e6;
}

/*---nav---*/
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #E3EFFA;
    border-radius: 6px;
    border: 1px solid rgba(219, 212, 212, 0.5);
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: background 0.3s;
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.9);
}

.nav-btn svg {
    width: 30px;
    height: 30px;
    fill: #717A93;
    transition: fill 0.3s;
}

.nav-btn:hover svg {
    fill: #717A93;
}

.prev-btn {
    left: 60px;
}

.next-btn {
    right: 60px;
}

.pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 10;
}

.dot {
    width: 50px;
    height: 4px;
    background-color: var(--gray_blue, rgba(174, 193, 210, 1));
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #fff;
}

/*========================MAIN=============================*/
.services {
    padding: 21px 0;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.services-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #333;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/*---cards---*/
.service-card {
    position: relative;
    width: 640px;
    height: 420px;
    overflow: hidden;
    cursor: pointer;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.service-card:hover .card-img {
    transform: scale(1.08);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.00deg, rgba(20.81, 38.76, 53.13, 1) 3%, rgba(21, 39, 53, 0) 40%);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
    color: #fff;
}

.service-name {
    font-size: 30px;
    font-weight: 500;
    font-style: Medium;
    line-height: 130%;
    margin: 0 0 8px 0;
}

.service-price {
    font-style: Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    margin: 0;
    opacity: 0.9;
}

.card-arrow svg {
    width: 36px;
    height: 36px;
}

/*========================FOOTER=============================*/
.footer {
    background-color: #384054;
    color: #EBF0F4;
    padding: 60px 310px 40px 310px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-logo {
    width: 250px;
    height: 60px;
}

.social-icons {
    display: flex;
    gap: 29px;
}

.social-icons img {
    width: 40px;
    height: 40px;
}


.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li {
    margin-bottom: 20px;
}

.footer-nav a {
    color: var(--light_gray, rgba(235, 240, 244, 1));
    font-size: 16px;
    font-style: Medium;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #808080
}

.footer-apps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app-btn {
    width: 165px;
    height: 47px;
    border-radius: 5px;
}


/*======================== OVERLAY =============================*/
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

body.lock {
    overflow: hidden;
}

/*======================== MEDIA =============================*/

/*---burger---*/

@media (max-width: 1000px) {
    .preheader {
        position: relative;
        z-index: 1005;
    }

    .item-phone {
        justify-content: center;
    }

    .item-email {
        display: none;
    }

    .header-main {
        background-color: #fff;
        padding: 20px 0;
        position: relative;
        z-index: 1004;
    }

    .header-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.3s ease;
    }


    .logo {
        margin: 0;
        transition: all 0.3s ease;
        position: relative;
        z-index: 1003;
    }

    .logo img {
        width: 170px;
        height: 40px;
        margin: 0;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        z-index: 1003;
        cursor: pointer;
        margin-right: 20px;
    }

    .burger span, .burger::before, .burger::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: #384054;
        position: absolute;
        transition: all 0.3s ease;
    }

    .burger::before {
        top: 0;
    }

    .burger span {
        top: 8px;
    }

    .burger::after {
        bottom: 0;
    }

    .burger.active span {
        transform: scale(0);
    }

    .burger.active::before {
        top: 8px;
        transform: rotate(45deg);
    }

    .burger.active::after {
        bottom: 8px;
        transform: rotate(-45deg);
    }

    .main-nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 120px 30px 40px 30px;
        transition: all 0.4s ease-in-out;
        z-index: 1001;
        display: block;
        text-align: center;
    }

    .main-nav.active {
        top: 0px;
    }

    .main-nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .main-nav ul li a {
        font-size: 20px;
        color: var(--black, rgba(56, 64, 84, 1));
        font-weight: 400;
        padding: 10px 0;
        text-align: left;
        display: block;
        margin: 0;
    }

    .header-body.menu-open {
        justify-content: center;
    }

    .header-body.menu-open .burger {
        position: absolute;
        right: 0;
    }


    .header-actions {
        display: none;
    }
}

@media (max-width: 400px) {
    .logo img {
        width: 170px;
        height: 40px;
    }

    .main-nav ul li a {
        font-size: 20px;
    }
}

/*---hero---*/

@media (max-width: 400px) {

    .hero-slider {
        height: 400px;
        width: 360px;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-btn {
        display: none;
    }

    .bg-slide img {
        object-position: center;
    }

    .hero-content {
        width: 320px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }

    .hero-content h1 {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 10px;
    }

    .hero-content p {
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 20px;

    }

    .cta-button {
        width: 320px;
        height: 66px;
        text-align: center;
        font-size: 20px;
    }

}
/*---services---*/

@media (max-width: 400px) {
    .services-title {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .services-grid {
        grid-template-columns: 1fr;
        gap: 20px; 
    }

    .service-card {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1; 
    }

    .card-overlay {
        padding: 20px;
    }
    .service-name {
        font-size: 24px;
    }
    .service-price {
        font-size: 16px;
    }

.services-grid .service-card:nth-child(2),
.services-grid .service-card:nth-child(4) {
    display: none;
}

}

/*---Footer---*/
@media (max-width: 400px) {
    .footer {
        width: 360px;
        height: 501px;
        padding: 40px 20px !important;
        background-color: #384054;
    }

    .footer-container {
        display: grid !important;
        grid-template-areas: 
            "nav1 nav2"
            "brand brand"
            "apps apps"
            "info info";
        grid-template-columns: 1fr 1fr;
        gap: 0px 20px; 
        justify-content: center;
        align-items: start; 

    
    .footer-nav {
        grid-area: auto;
        margin: 0;
        padding: 0;
    }

    .footer-nav:nth-of-type(1) { grid-area: nav1; }
    .footer-nav:nth-of-type(2) { grid-area: nav2; }

    .footer-nav ul {
        margin: 0;
        padding: 0 ;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    .footer-nav li {
        margin: 0;
        padding: 0;
    }

    .footer-nav a {
        font-size: 12px;
        line-height: 130%;
        text-wrap: nowrap;
        display: block;
    }

    .footer-brand {
        grid-area: brand;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }

    .footer-logo {
        width: 168px;
        height: 40px;
        margin-bottom: 16px ;
    }

    .footer-apps {
        grid-area: apps;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 40px;
    }

    .app-btn {
        width: 112px;
        height: 32px;
    }

    .footer-company_name {
        grid-area: info;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        font-size: 10px; }
}
}